* {
    margin: 0px;
    padding: 0px;
}

.heading {
    text-align: center;

}

.container {

    margin: 10px;
    display: flex;
    background-color: azure;

}


.image-container {
    width: 100%;
    margin: 10px;


}

.image-container img {
    width: 500px;
    height: auto;
    border-radius: 8px;

}

.description-container {
    margin-right: 40%;
    padding: 20px;
    text-align: justify;
}

.reviews {
    display: flex;
    margin: 0px;
    background-color: azure;
}

.image_reviews .image {
    margin-left: 20px;
    margin-top: 20px;
    height: 200px;
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;

}

.reviews .director_reviews {
    margin-top: 70px;
    margin-left: 10px;
}


.reviews1 {
    background-color: azure;
    overflow: auto;
    display: flex;
}

.image_reviews1 .image1 {
    margin-left: 20px;
    margin-top: 20px;
    height: 200px;
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;

}

.reviews1 .director_reviews1 {
    margin-top: 60px;
    margin-left: 10px;
}

.reviews1 .heading1 {
    text-align: center;

}

h2 {
    text-align: center;
    margin-top: 0px;
}



@media only screen and (max-width: 850px) {
    * {
        margin: 5px;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;


    }

    .heading {
        text-align: center;
    }

    .image-container {


        margin: auto;

    }

    .image-container img {
        width: 100%;
        height: auto;
        border-radius: 8px;

    }

    .description-container {
        text-align: center;
        text-align: justify;

        margin-top: 5px;


    }

    .reviews {
        display: flex;
        flex-direction: column;


    }

    .reviews .image_reviews {
        margin-left: auto;
        margin-right: auto;

    }

    .reviews .director_reviews {
        margin: 0px;
    }

    .reviews1 {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;

    }

    .reviews1 .director_reviews1 {
        margin: 0px;

    }

    .reviews1 .image_reviews1 {

        margin-left: auto;
        margin-right: auto;


    }

    /* .reviews1 .image_reviews1 .image1 {

        margin-left: auto;
        margin-right: auto;


    } */

}